extends ../layoutheader

block view
  span 
    span Go back to
    span 
      a(href='/admin') /admin
  center
    table
      thead
        th Username
        th Password 
        th type 
      tbody 
        each user in users 
          tr
            td #{user.username}
            td #{user.username }
            td #{user.type }
