doctype html
html
  head
    title Test App
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/global.css')

  body
    block content
    div#alertContainer(style='max-width:30%; position:fixed; right:0; top:0;')

    script(src='/javascripts/global.js')
