extends layout

block content
  div(style='padding:10px; background-color:grey; border:1px solid darkgrey;')
    span Welcome, #{session.username} (#{session.type})
    span 
      a(href='/logout') Logout
  block view